body {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div {
    display: grid;
    background-size: cover;
}

div.one {
    padding: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

div.four {
    padding: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
}